body {
    margin-left: 50px;
    margin-right: 50px;
    width: 1500px;
    font-size: 18px;
    font-family: sans-serif;
}

a {
    color: #008CF0;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

.headerbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 51px;
    gap: 7px;
}

.headerbox_text {
    font-size: 44px;
    margin-top: 17px;
}

.breadcrumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    margin-top: 10px;
    gap: 4px;
    margin-left: 50px;
}

.mainbox {
    margin-left: 50px;
}

.mainname {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 30px;
}

.characterists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.char {
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

.box {
    display: flex;
    flex-direction: row;
}

.productcolor {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.productcolor_pics {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 0px 30px;
    gap: 10px;
}

.productcolor_img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    height: 80px;
    width: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
}

.productcolor_img:hover {
    background: #F2F2F2;
}

.productcolor_img:active {
    border: 2px solid #F36223;
    outline: 2px solid #F36223;
}

.productcolor_img:focus {
    border: 2px solid #F36223;
    outline: 2px solid #F36223;
}

.productcolor_img img {
    width: 30.93px;
    height: 60px;
}

.memory {
    width: 298px;
    height: 73px;
}

.memory_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.memory_buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    margin-top: 15px;

}

.memorybtn {
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid #888888;
    border-radius: 4px;
    background: white;
}

.memorybtn:hover {
    background: #F2F2F2;
}

.memorybtn:focus {
    border: 2px solid #F36223;
}

.about {
    margin: 30px 0px 15px;
}

.about_text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.about_list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
}

.grey-circle {
    width: 10px;
    height: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    background: #888888;
    border-radius: 5px;
}

.characters-list__item {
    display: flex;
    flex-direction: row;
}

.list-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.aside {
    display: flex;
    flex-direction: row;
    width: 420px;
    margin-right: 50px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 40px;
    width: 420px;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.oldprice {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
}

.olderprice {
    color: #888888;
}

.sale {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
    border-radius: 500px;
    width: 47px;
    height: 24px;
    color: #FFFFFF;
}

.newprice {
    width: 132px;
    height: 39px;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.btn {
    border: 0;
    padding: 20px 49px;
    background: #F36223;
    border-radius: 4px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    width: 380px;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background: #DA4A0C;
}

p {
    margin: 16px 0;
}

.frames {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    margin-top: 40px;
}

.frame_text {
    color: #888888;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
}

.frame {
    box-sizing: border-box;
    border: 1px dashed #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background: #F0F0F0;
}

.photo {
    float: left;
    padding-right: 16px;
}

.comments {
    padding-left: 216px;
}